body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
}

#game-container {
    position: relative;
    background-image: url("pixelgrass1080x720.png");
}

#gameCanvas {
    display: block;
    border: 1px solid #000;
}

#hud {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}

#timer {
    margin-left: 20px;
}

#healthBar {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
  }

#healthBarBorder {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 100px;
    border: 1px solid black;
  }

  #myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }

  .progress-bar-container {
    width: 100%;
    height: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .progress-bar {
    width: 0%;
    height: 100%;
    background-color: red;
  }
  
  .reverse {
    animation: reverse-progress 30s linear forwards;
  }
  
  @keyframes reverse-progress {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }


  .progress-bar-container-arrow {
    width: 100%;
    height: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .progress-bar-arrow {
    width: 0%;
    height: 100%;
    background-color: red;
  }

  .reverseReverse {
    animation: reverse-progress2 15s linear forwards;
  }
  
  @keyframes reverse-progress2 {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }


  